body {
  display: flex;
  font-family: 'Roboto', sans-serif;;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: rgb(0,36,11);
  background: linear-gradient(90deg, rgba(0,36,11,1) 0%, rgba(204,247,0,1) 0%, rgba(212,255,215,1) 90%);
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  width: 400px;
  border-radius: 20px;
  background: rgb(0,36,11);
  background: linear-gradient(90deg, rgba(0,36,11,1) 0%, rgba(240,255,170,1) 0%, rgba(255,255,255,1) 97%);
}

.login-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0px;
}

.login-pic {
  width: 200px;
  margin-bottom: 40px;
  border-radius: 100%;
  margin-bottom: 16px;
}

.input-fields {
  margin-bottom: 10px;
  text-align: center;
  width: 200px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgb(223, 208, 208);
  background: rgb(0,36,11);
background: linear-gradient(90deg, rgba(0,36,11,1) 0%, rgba(215,252,214,1) 0%, rgba(247,176,176,1) 95%);
}

.login-button-container {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.login-buttons {
  font-weight: bold;

  width: 100%;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 1px 1px 3px rgb(223, 208, 208);
  transition: background-color 0.15s, transform 0.15s;
}

#login-button {
  background-color: rgb(164, 223, 247);
  background: rgb(0,36,11);
background: linear-gradient(90deg, rgba(0,36,11,1) 0%, rgba(170,255,241,1) 0%, rgba(255,255,255,1) 97%);
}

#signup-button {
  background-color: rgb(132, 252, 196);
  background: rgb(0,36,11);
background: linear-gradient(90deg, rgba(0,36,11,1) 0%, rgba(171,255,170,1) 0%, rgba(255,255,255,1) 97%);
}

#login-button:hover {
  background-color: rgb(197, 229, 243);
  transform: scale(1.02);
  cursor:pointer;
}

#signup-button:hover {
  background-color: rgb(178, 245, 213);
  transform: scale(1.02);
  cursor: pointer;
}

#login-button:active {
  background-color: rgb(208, 242, 255);
}

#signup-button:active {
  background-color: rgb(215, 253, 235);
}

#sex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  border-style: solid;
  width: 85vh;
  height: 57vh;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border-width: 1px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
  background: rgb(0,36,11);
background: linear-gradient(90deg, rgba(0,36,11,1) 0%, rgba(220,246,220,1) 0%, rgba(255,255,255,1) 91%);
}

.stats-outer-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-right: 10px;
  gap: 10px;
  border-width: 1px;
  
}

.stats-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
  align-items: center;
  height: 25%;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.calc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  align-items: center;
  border-style: solid;
  width: 55%;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.calc-container p {
  margin-top: 0;
  margin-bottom: 0;
}

.conditional-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  

}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 3vh;
  border-width: 1px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
  background: rgb(0,36,11);
background: linear-gradient(90deg, rgba(0,36,11,1) 0%, rgba(220,246,220,1) 0%, rgba(255,255,255,1) 91%);
  
}

.nav-bar-component {
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  width:30%;
  border: none;
}

#update-weight-button {
  background-color: transparent;
  border: none;
  color: blue;
}

#update-weight-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

#weight-input {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
}

#update-goal-button {
  background-color: transparent;
  border: none;
  color: blue;
}

#update-goal-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

#goal-input {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
}

.stats-input {
  margin-top: 10px;
  width: 30%;
  height: 40%;
  border-radius: 5px;
  border-style: solid;
  text-align: center;
  margin-bottom: 5px;
}


.tracking-in-expand{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}
@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}


#number {
  font-size: 80px;
  margin: 0;
  font-weight: bolder;
}

#log-out-button {
  background-color: transparent;
  border: none;
  color: rgb(255, 0, 0);
}

#log-out-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.burn-calories {
  color: rgb(211, 35, 35);
}

.burn-box {
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
  margin-bottom: 10px;
}

.exercise-box {
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
  margin-bottom: 5px;
}